<p id="notice"><%= notice %></p>

<p>
  <strong>Song:</strong>
  <%= @announcement.song_id %>
</p>

<p>
  <strong>Post creation date:</strong>
  <%= @announcement.post_creation_date %>
</p>

<p>
  <strong>Url:</strong>
  <%= @announcement.url %>
</p>

<p>
  <strong>Artwork:</strong>
  <%= @announcement.artwork %>
</p>

<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
