<div class="container">
  <div class="page-header">
    <h1>Edit Album #<%= @album.id %></h1>
    <%= image_tag @album.cover.url(:medium) %>
  </div>

  <%= form_for(@album, url: admin_album_path) do |b| %>

  <h3><%= b.label :artist_id, class: "control-label"  %></h3>
  <%= b.collection_select(:artist_id, Artist.all, :id, :name) %>

  <br>

  <h3><%= b.label :name, class: "control-label"  %></h3>
  <%= b.text_field :name, placeholder: "Album Name", class: "form-control input-lg"  %>

  <h3><%= b.label :download_link, class: "control-label"  %></h3>
  <%= b.text_field :download_link, placeholder: "Download_link", class: "form-control input-lg"  %>

  <h3><%= b.label :embedded_code, class: "control-label"  %></h3>
  <%= b.text_field :embedded_code, placeholder: "Embedded_code", class: "form-control input-lg"  %>

  <h3><%= b.label :itunes, class: "control-label"  %></h3>
  <%= b.text_field :itunes, placeholder: "itunes", class: "form-control input-lg"  %>

  <h3><%= b.label :google, class: "control-label"  %></h3>
  <%= b.text_field :google, placeholder: "google", class: "form-control input-lg"  %>

  <h3><%= b.label :amazon, class: "control-label"  %></h3>
  <%= b.text_field :amazon, placeholder: "amazon", class: "form-control input-lg"  %>

  <h3><%= b.label :spotify, class: "control-label"  %></h3>
  <%= b.text_field :spotify, placeholder: "spotify", class: "form-control input-lg"  %>

  <h3><%= b.label :cover, class: "control-label" %></h3>
  <%= b.file_field :cover, class: "control-label btn-default input-lg" %>

  <h3><%= b.label :back, class: "control-label" %></h3>
  <%= b.file_field :back, class: "control-label btn-default input-lg" %>

  <h3><%= b.label :release_date, class: "control-label"  %></h3>
  <%= b.date_field :release_date, placeholder: "Release Date", class: "control-label btn-default input-lg"  %>

  <h3><%= b.label :submit, class: "control-label" %></h3>
  <%= b.submit class: "control-label btn-default input-lg"  %>
 <% end %>
</div>

