<div class="container">
  <div class="page-header">
    <h1>Edit Album #<%= @album.id %></h1>
  </div>

  <%= form_for(@album, url: admin_albums_path) do |b| %>

  <%= b.label :artist_id, class: "control-label"  %>
  <%= b.collection_select(:artist_id, Artist.all, :id, :name) %>

  <br>

  <%= b.label :name, class: "control-label"  %>
  <%= b.text_field :name, placeholder: "Album Name", class: "form-control input-lg"  %>

  <%= b.label :release_date, class: "control-label"  %>
  <%= b.text_field :release_date, placeholder: "Release Date", class: "form-control input-lg"  %>

  <%= b.label :download_link, class: "control-label"  %>
  <%= b.text_field :download_link, placeholder: "Download_link", class: "form-control input-lg"  %>

  <%= b.label :embedded_code, class: "control-label"  %>
  <%= b.text_field :embedded_code, placeholder: "Embedded_code", class: "form-control input-lg"  %>

  <%= b.label :itunes, class: "control-label"  %>
  <%= b.text_field :itunes, placeholder: "itunes", class: "form-control input-lg"  %>

  <%= b.label :google, class: "control-label"  %>
  <%= b.text_field :google, placeholder: "google", class: "form-control input-lg"  %>

  <%= b.label :amazon, class: "control-label"  %>
  <%= b.text_field :amazon, placeholder: "amazon", class: "form-control input-lg"  %>

  <%= b.label :spotify, class: "control-label"  %>
  <%= b.text_field :spotify, placeholder: "spotify", class: "form-control input-lg"  %>

  <%= b.label :avatar, class: "control-label" %>
  <%= b.file_field :avatar %>

  <br/>

  <%= b.submit class: "btn btn-default"  %>
 <% end %>
</div>

