<div class="container">
  <div class="page-header">
    <h1>Edit Album #<%= @album.id %> <%= link_to 'SHOW', admin_album_path(@album.id), :class => "btn btn-lg" %></h1>
    </div>

    <div style="display:inline-block;">
    <%= image_tag "#{@album.cover.url}", :class => "img-responsive pic-w2" %>
  </div>

  <div style="display:inline-block;">
    <%= image_tag "#{@album.back.url}", :class => "img-responsive pic-w2" %>
  </div>

  <%= form_for(@album, url: admin_album_path) do |b| %>

  <h3><%= b.label :artist_id, class: "control-label"  %></h3>
  <%= b.collection_select(:artist_id, Artist.all, :id, :name) %>

  <br>

  <h3><%= b.label :name, class: "control-label"  %></h3>
  <%= b.text_field :name, placeholder: "Album Name", class: "form-control input-lg"  %>

  <h3><%= b.label :download_link, class: "control-label"  %></h3>
  <%= b.text_field :download_link, placeholder: "Download_link", class: "form-control input-lg"  %>

  <h3><%= b.label :embedded_code, class: "control-label"  %></h3>
  <%= b.text_field :embedded_code, placeholder: "Embedded_code", class: "form-control input-lg"  %>

  <h3><%= b.label :itunes, class: "control-label"  %></h3>
  <%= b.text_field :itunes, placeholder: "itunes", class: "form-control input-lg"  %>

  <h3><%= b.label :google, class: "control-label"  %></h3>
  <%= b.text_field :google, placeholder: "google", class: "form-control input-lg"  %>

  <h3><%= b.label :amazon, class: "control-label"  %></h3>
  <%= b.text_field :amazon, placeholder: "amazon", class: "form-control input-lg"  %>

  <h3><%= b.label :spotify, class: "control-label"  %></h3>
  <%= b.text_field :spotify, placeholder: "spotify", class: "form-control input-lg"  %>

  <h3><%= b.label :youtube_v1, class: "control-label"  %></h3>
  <%= b.text_field :youtube_v1, placeholder: "Youtube Video 1", class: "form-control input-lg"  %>

  <h3><%= b.label :youtube_v2, class: "control-label"  %></h3>
  <%= b.text_field :youtube_v2, placeholder: "Youtube Video 2", class: "form-control input-lg"  %>

  <h3><%= b.label :youtube_v3, class: "control-label"  %></h3>
  <%= b.text_field :youtube_v3, placeholder: "Youtube Video 3", class: "form-control input-lg"  %>

  <h3><%= b.label :youtube_v4, class: "control-label"  %></h3>
  <%= b.text_field :youtube_v4, placeholder: "Youtube Video 4", class: "form-control input-lg"  %>

  <h3><%= b.label :youtube_v5, class: "control-label"  %></h3>
  <%= b.text_field :youtube_v5, placeholder: "Youtube Video 5", class: "form-control input-lg"  %>

 <h3><%= b.label :youtube_v6, class: "control-label"  %></h3>
  <%= b.text_field :youtube_v6, placeholder: "Youtube Video 6", class: "form-control input-lg"  %>

 <h3><%= b.label :youtube_v7, class: "control-label"  %></h3>
  <%= b.text_field :youtube_v7, placeholder: "Youtube Video 7", class: "form-control input-lg"  %>

 <h3><%= b.label :youtube_v8, class: "control-label"  %></h3>
  <%= b.text_field :youtube_v8, placeholder: "Youtube Video 8", class: "form-control input-lg"  %>

  <h3><%= b.label :cover, class: "control-label" %></h3>
  <%= b.file_field :cover, class: "control-label btn-default input-lg" %>

  <h3><%= b.label :back, class: "control-label" %></h3>
  <%= b.file_field :back, class: "control-label btn-default input-lg" %>

  <h3><%= b.label :release_date, class: "control-label"  %></h3>
  <%= b.date_field :release_date, placeholder: "Release Date", class: "control-label btn-default input-lg"  %>

  <h3><%= b.label :submit, class: "control-label" %></h3>
  <%= b.submit class: "control-label btn-default input-lg"  %>
 <% end %>
</div>

