<div class="container">

  <h1>Albums</h1>
  <br/>

  <p><a href="/admin/albums/new" class="btn btn-default">Add a New Album</a></p>
  <br/>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>View</th>
        <th>Edit</th>
        <th>Trash</th>
        <th>Artist ID</th>
        <th>Artist Name</th>
        <th>Cover</th>
        <th>Back</th>
        <th>Album Title</th>
        <th>R-date</th>
        <th>DL link</th>
        <th>Embed</th>
        <th>Itune</th>
        <th>Gogle</th>
        <th>Amaz</th>
        <th>Spot</th>
        <th>v1</th>
        <th>v2</th>
        <th>v3</th>
        <th>v4</th>

      </tr>
    </thead>

    <tbody>
      <% @albums.each do |album| %>
        <tr>
           <td>
           <%= link_to 'Show', admin_album_path(album.id) %>
          </td>
          <td>
          <%= link_to 'Edit', edit_admin_album_path(album.id) %>
          </td>
          <td>
            <%= link_to 'Destroy', admin_album_path(album.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
          <td><%= album.artist_id %></td>
          <td><%= album.artist.name %></td>
          <td><%= image_tag album.cover.url(:medium), :style => "width:75px;" %></td>
          <td><%= image_tag album.back.url(:medium), :style => "width:75px;" %></td>
          <td><%= album.name %></td>
          <td><%= album.release_date.to_formatted_s(:db) %></td>
          <td>
            <% album.download_link %>
            <% if album.download_link.present? %>
                YES
            <% else %>
                NO
            <% end %>
          </td>
          <td>
            <% album.embedded_code %>
            <% if album.embedded_code.present? %>
                YES
            <% else %>
                NO
            <% end %>
          </td>
          <td>
            <% album.itunes %>
            <% if album.itunes.present? %>
                YES
            <% else %>
                NO
            <% end %>
          </td>
          <td>
            <% album.google %>
            <% if album.google.present? %>
                YES
            <% else %>
                NO
            <% end %>
            </td>
          <td>
            <% album.amazon %>
            <% if album.amazon.present? %>
                YES
            <% else %>
                NO
            <% end %>
          </td>
          <td>
            <% album.spotify %>
            <% if album.spotify.present? %>
               YES
            <% else %>
                NO
            <% end %>
          </td>
          <td>
            <% album.youtube_v1 %>
            <% if album.youtube_v1.present? %>
               YES
            <% else %>
                NO
            <% end %>
          </td>
          <td>
            <% album.youtube_v2 %>
            <% if album.youtube_v2.present? %>
               YES
            <% else %>
                NO
            <% end %>
          </td>
          <td>
            <% album.youtube_v3 %>
            <% if album.youtube_v3.present? %>
               YES
            <% else %>
                NO
            <% end %>
          </td>
          <td>
            <% album.youtube_v4 %>
            <% if album.youtube_v4.present? %>
               YES
            <% else %>
                NO
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate(@albums) %>
</div>
