<div class="container">

  <h1>Add Album</h1>

  <%= form_for(@album, url: admin_albums_path) do |b| %>

  <%= b.label :artist_id, class: "control-label"  %>
  <%= b.collection_select(:artist_id, Artist.all, :id, :name) %>

   <br>

  <%= b.label :name, class: "control-label"  %>
  <%= b.text_field :name, placeholder: "Album Name", class: "form-control input-lg"  %>

  <%= b.label :release_date, class: "control-label"  %>
  <%= b.text_field :release_date, placeholder: "Release Date", class: "form-control input-lg"  %>

  <%= b.submit class: "btn btn-default"  %>
  <% end %>

</div>
