<div class="container">

  <div class="page-header">
    <h1>Album #<%= @album.id %> "<%= @album.name %>"</h1>
  </div>

  <div style="display:inline-block;">
    <%= image_tag "#{@album.cover.url}", :class => "img-responsive pic-w2" %>
  </div>

  <div style="display:inline-block;">
    <%= image_tag "#{@album.back.url}", :class => "img-responsive pic-w2" %>
  </div>

  <dl class="dl-horizontal">

    <dt style="font-size:20px;">Title</dt>
    <dd style="font-size:20px;"><%= @album.name %></dd>

    <% if @album.release_date.present? %>
        <dt style="font-size:20px;">Release date</dt>
        <dd style="font-size:20px;"><%= @album.release_date.to_formatted_s(:db) %></dd>
    <% end %>

    <% if @album.download_link.present? %>
        <dt style="font-size:20px;">Download link</dt>
        <dd style="font-size:20px;"><%= @album.download_link %></dd>
    <% end %>

    <% if @album.embedded_code.present? %>
        <dt style="font-size:20px;">Embedded code</dt>
        <dd style="font-size:20px;"><%= @album.embedded_code.html_safe %></dd>
    <% end %>

    <% if @album.itunes.present? %>
        <dt style="font-size:20px;">Itunes</dt>
        <dd style="font-size:20px;"><%= @album.itunes %></dd>
    <% end %>

    <% if @album.google.present? %>
        <dt style="font-size:20px;">Google</dt>
        <dd style="font-size:20px;"><%= @album.google %></dd>
    <% end %>

    <% if @album.amazon.present? %>
        <dt style="font-size:20px;">Amazon</dt>
        <dd style="font-size:20px;"><%= @album.amazon %></dd>
    <% end %>

    <% if @album.spotify.present? %>
        <dt style="font-size:20px;">Spotify</dt>
        <dd style="font-size:20px;"><%= @album.spotify %></dd>
    <% end %>

     <% if @album.youtube_v1.present? %>
        <dt style="font-size:20px;">Embedded code</dt>
        <dd style="font-size:20px;"><%= @album.youtube_v1.html_safe %></dd>
    <% end %>

     <% if @album.youtube_v2.present? %>
        <dt style="font-size:20px;">Embedded code</dt>
        <dd style="font-size:20px;"><%= @album.youtube_v2.html_safe %></dd>
    <% end %>

     <% if @album.youtube_v3.present? %>
        <dt style="font-size:20px;">Embedded code</dt>
        <dd style="font-size:20px;"><%= @album.youtube_v3.html_safe %></dd>
    <% end %>

     <% if @album.youtube_v4.present? %>
        <dt style="font-size:20px;">Embedded code</dt>
        <dd style="font-size:20px;"><%= @album.youtube_v4.html_safe %></dd>
    <% end %>
    <br/>
    <br/>
    <dd style="font-size:25px;"><%= link_to "Send Announcement", announcement_admin_album_path(@album), :method => :post %></dd>
  </dl>
</div>
