<div class="container">

  <div class="page-header">
    <!-- <h1>Album #<%#= @album.id %> "<%#= @album.name %>"</h1> -->
  </div>

  <dl class="dl-horizontal">
      <dt>Artwork</dt>
     <dd><%#= image_tag "#{@album.album_artwork_url}" %></dd>

    <br>
    <br>


    <dt>Title</dt>
    <dd><%= @album.name %></dd>

    <% if @album.release_date.present? %>
        <dt>Release date</dt>
        <dd><%= @song.release_date %></dd>
    <% end %>

    <% if @song.download_link.present? %>
        <dt>Download link</dt>
        <dd><%= @song.download_link %></dd>
    <% end %>

    <% if @song.embedded_code.present? %>
        <dt>Embedded code</dt>
        <dd><%= @song.embedded_code.html_safe %></dd>
    <% end %>

    <% if @song.itunes.present? %>
        <dt>Itunes</dt>
        <dd><%= @song.itunes %></dd>
    <% end %>

    <% if @song.google.present? %>
        <dt>Google</dt>
        <dd><%= @song.google %></dd>
    <% end %>

    <% if @song.amazon.present? %>
        <dt>Amazon</dt>
        <dd><%= @song.amazon %></dd>
    <% end %>

    <% if @song.spotify.present? %>
        <dt>Spotify</dt>
        <dd><%= @song.spotify %></dd>
    <% end %>

    <% if @song.youtube.present? %>
        <dt>Youtube</dt>
        <dd><%= @song.youtube.html_safe %></dd>

    <%= link_to "Send Announcement", album_announcements_path(:method => :post, id: album.id) %>
    <% end %>
  </dl>

</div>
