<div class="container">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>

     <% if devise_error_messages!.present? %>
    <div class="error-msg-btn">
      <%= devise_error_messages! %>
    </div>
    <% else %>
    <% end %>

    <div class="form-group user-proile-button">
      <%= f.label :username, "Profile name", :class => "col-sm-offset-1 col-sm-2 control-label label-name-field" %>
      <div class="col-sm-5">
      <%= f.text_field :username, :class => "form-control" %>
      <em>(Must be Unique)</em>
      </div>
    </div>

    <div class="form-group user-proile-button">
      <%= f.label :email, "Email", :class => "col-sm-offset-1 col-sm-2 control-label label-name-field" %>
      <div class="col-sm-5">
      <%= f.email_field :email, autofocus: true, :class => "form-control" %>
      <em>(example@example.com)</em>
      </div>
    </div>
    <% if f.object.password_required? %>
    <div class="form-group user-proile-button">
      <%= f.label :password, "Password", :class => "col-sm-offset-1 col-sm-2 control-label label-name-field" %>
      <div class="col-sm-5">
      <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
          <%# if @validatable %>
          <em>(8 characters minimum)</em>
          <%# end %>
      </div>
    </div>


    <div class="form-group user-proile-button">
      <%= f.label :password_confirmation, "Password Confirmation", :class => "col-sm-offset-1 col-sm-2 control-label label-name-field" %>
      <div class="col-sm-5">
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
      <em>(Just to be sure...)</em>
      </div>
    </div>
    <% end %>
    <div class="form-group user-proile-button">
      <%= f.label :zip_code, "Zip Code", :class => "col-sm-offset-1 col-sm-2 control-label label-name-field" %>
      <div class="col-sm-5">
      <%= f.number_field :zip_code, :class => "form-control" %>
      <em>(Let your favorite artists know where they should rock a show. <br/>Hint: More friends the better)</em>
      </div>
    </div>

        <div class="form-group user-proile-button">
      <%= f.label :age, "Age", :class => "col-sm-offset-1 col-sm-2 control-label label-name-field" %>
      <div class="col-sm-3">
      <%= f.number_field :age, :class => "form-control" %>
      <em>(All ages are welcome, we just need to know if you are of legal age)</em>
      </div>
    </div>

    <div class="form-group navv-font">
      <div>
        <%= f.submit "Sign up", :class => "btn btn-lg btn-success btn-block label-name-field" %>
      </div>
    </div>

  <% end %>


    <p class="user-proile-button-below">Already have an account?</p>&nbsp;<%= render "devise/shared/links" %>

</div>
