<!doctype html>
<html>

<head>
  <title>Admin Add Artist</title>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" type="text/css" href="./stylesheets/application.css">
</head>

<body>

  <header class="main-header">
    <h1 class="logo">
      <a href="./feed.html">In Touch</a>
    </h1>
    <nav>
      <ul>
      <li><a href="admin_dashboard.html">admin</a></li>
           <li><a href="feed.html">My Feed</a></li>
        <li><a href="following.html">My Artists/Add Artist</a></li>
        <li><a href="home.html">Sign Out</a></li>
      </ul>
    </nav>
  </header>
<div class="wrapper-index">
<div class="page-header">
  <h1>Artists</h1>
</div>

<p><a href="/artists/new" class="btn btn-default">Add a New Artist</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Picture</th>
      <th>Website</th>
      <th>Record label</th>

    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.picture %></td>
        <td><%= artist.website %></td>
        <td><%= artist.record_label %></td>
        <td>
          <a href="/artists/<%= artist.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/artists/<%= artist.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_artist/<%= artist.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    </div>
    <% end %>
  </tbody>
</table>

