<div class="container">

    <div>
        <%= image_tag "#{@artist.picture_url}" %>
    </br>

    </div>
        <div>
      <ul class="feedxxx">
          <% @artist.songs.each do |song| %>
            <li>
              <a href="/songs/<%= song.id %>">
                <p class="artist-feed">
                  <%= song.artist.name %>
                  <% if song.release_date.present? %>
                    <span><%= time_ago_in_words(song.release_date) %></span>
                  <% end %>
                </p>
                <p class="song-feed"><%= song.title %>
            <% if song.features.present? %>
            Feat.
          <%= song.features %></p>
          <% end %>
              </a>
            </li>
          <% end %>
        </ul>
    </div>

</div>




