<div class="wrapper-index">

  <div class="page-header">
    <h1>Artist #<%= @artist.id %></h1>
  </div>

  <dl class="dl-horizontal">
    <dt>Name</dt>
    <dd><%= @artist.name %></dd>

    <dt>Picture</dt>
    <dd><%= @artist.picture %></dd>

    <dt>Website</dt>
    <dd><%= @artist.website %></dd>

    <dt>Record label</dt>
    <dd><%= @artist.record_label %></dd>

  </dl>

</div>
