<div class="wrapper-index">
  <div class="page-header">
    <h1>Edit Song #<%= @song.id %></h1>
  </div>

  <% if @song.errors.any? %>
    <% @song.errors.full_messages.each do |message| %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <form action="/admin/update_song/<%= @song.id %>" class="form-horizontal">
    <!-- Label and input for artist -->
    <div class="form-group">
      <label for="artist" class="control-label">Artist</label>
      <%= select_tag "artist_id", options_from_collection_for_select(@artists, "id", "name") %>
    </div>

      <div class="form-group">
      <label for="artist" class="control-label">Artist</label>
      <input type="text" id="artist" name="artist" placeholder="Artist" class="form-control input-lg" value="<%= @song.artist %>">
    </div>

    <!-- Label and input for title -->
    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">
        Title
      </label>
      <div class="col-sm-10">
        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @song.title %>">
      </div>
    </div>

    <!-- Label and input for artwork -->
    <div class="form-group">
      <label for="artwork" class="col-sm-2 control-label">
        Artwork
      </label>
      <div class="col-sm-10">
        <input type="text" id="artwork" name="artwork" placeholder="Artwork" class="form-control" value="<%= @song.artwork %>">
      </div>
    </div>

    <!-- Label and input for features -->
    <div class="form-group">
      <label for="features" class="col-sm-2 control-label">
        Features
      </label>
      <div class="col-sm-10">
        <input type="text" id="features" name="features" placeholder="Features" class="form-control" value="<%= @song.features %>">
      </div>
    </div>

    <!-- Label and input for producer -->
    <div class="form-group">
      <label for="producer" class="col-sm-2 control-label">
        Producer
      </label>
      <div class="col-sm-10">
        <input type="text" id="producer" name="producer" placeholder="Producer" class="form-control" value="<%= @song.producer %>">
      </div>
    </div>

    <!-- Label and input for album -->
    <div class="form-group">
      <label for="album" class="col-sm-2 control-label">
        Album
      </label>
      <div class="col-sm-10">
        <input type="text" id="album" name="album" placeholder="Album" class="form-control" value="<%= @song.album %>">
      </div>
    </div>

    <!-- Label and input for release_date -->
    <div class="form-group">
      <label for="release_date" class="col-sm-2 control-label">
        Release date
      </label>
      <div class="col-sm-10">
        <input type="text" id="release_date" name="release_date" placeholder="Release date" class="form-control" value="<%= @song.release_date %>">
      </div>
    </div>

    <!-- Label and input for download_link -->
    <div class="form-group">
      <label for="download_link" class="col-sm-2 control-label">
        Download link
      </label>
      <div class="col-sm-10">
        <input type="text" id="download_link" name="download_link" placeholder="Download link" class="form-control" value="<%= @song.download_link %>">
      </div>
    </div>

    <!-- Label and input for embedded_code -->
    <div class="form-group">
      <label for="embedded_code" class="col-sm-2 control-label">
        Embedded code
      </label>
      <div class="col-sm-10">
        <textarea id="embedded_code" name="embedded_code" placeholder="Embedded code" class="form-control" rows="3"><%= @song.embedded_code %></textarea>
      </div>
    </div>

    <!-- Label and input for itunes -->
    <div class="form-group">
      <label for="itunes" class="col-sm-2 control-label">
        Itunes
      </label>
      <div class="col-sm-10">
        <textarea id="itunes" name="itunes" placeholder="Itunes" class="form-control" rows="3"><%= @song.itunes %></textarea>
      </div>
    </div>

    <!-- Label and input for google -->
    <div class="form-group">
      <label for="google" class="col-sm-2 control-label">
        Google
      </label>
      <div class="col-sm-10">
        <textarea id="google" name="google" placeholder="Google" class="form-control" rows="3"><%= @song.google %></textarea>
      </div>
    </div>

    <!-- Label and input for amazon -->
    <div class="form-group">
      <label for="amazon" class="col-sm-2 control-label">
        Amazon
      </label>
      <div class="col-sm-10">
        <textarea id="amazon" name="amazon" placeholder="Amazon" class="form-control" rows="3"><%= @song.amazon %></textarea>
      </div>
    </div>

    <!-- Label and input for spotify -->
    <div class="form-group">
      <label for="spotify" class="col-sm-2 control-label">
        Spotify
      </label>
      <div class="col-sm-10">
        <textarea id="spotify" name="spotify" placeholder="Spotify" class="form-control" rows="3"><%= @song.spotify %></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" value="Update Song" class="btn btn-default">
      </div>
    </div>
  </form>
</div>
