<div class="container">
  <div class="page-header">
    <h1>Edit Song #<%= @song.id %> <%= @song.title %> </h1>
    <dd><%= image_tag "#{@song.artwork.url(:medium)}" %></dd>
  </div>

  <%= form_for(@song, url: admin_song_path) do |s| %>

    <h3><%= s.label :artist_id, class: "control-label"  %></h3>
    <%= s.collection_select(:artist_id, Artist.all, :id, :name) %>

    <br/>

  <h3><%= s.label :album_id, class: "control-label"  %></h3>
  <%= s.collection_select :album_id, @albums, :id, :name, include_blank: true %>

    <h3><%= s.label :title, "Song Title", class: "control-label"  %></h3>
    <%= s.text_field :title, placeholder: "Title", class: "form-control input-lg"  %>

    <h3><%= s.label :features, class: "control-label"  %></h3>
    <%= s.text_field :features, placeholder: "Features", class: "form-control input-lg"  %>

    <h3><%= s.label :producer, class: "control-label"  %></h3>
    <%= s.text_field :producer, placeholder: "Producer", class: "form-control input-lg"  %>

    <h3><%= s.label :album_title, class: "control-label"  %></h3>
    <%= s.text_field :album_title, placeholder: "Album", class: "form-control input-lg"  %>

    <h3><%= s.label :download_link, class: "control-label"  %></h3>
    <%= s.text_field :download_link, placeholder: "Download_link", class: "form-control input-lg"  %>

    <h3><%= s.label :embedded_code, class: "control-label"  %></h3>
    <%= s.text_field :embedded_code, placeholder: "Embedded_code", class: "form-control input-lg"  %>

    <h3><%= s.label :itunes, class: "control-label"  %></h3>
    <%= s.text_field :itunes, placeholder: "itunes", class: "form-control input-lg"  %>

    <h3><%= s.label :google, class: "control-label"  %></h3>
    <%= s.text_field :google, placeholder: "google", class: "form-control input-lg"  %>

    <h3><%= s.label :amazon, class: "control-label"  %></h3>
    <%= s.text_field :amazon, placeholder: "amazon", class: "form-control input-lg"  %>

    <h3><%= s.label :spotify, class: "control-label"  %></h3>
    <%= s.text_field :spotify, placeholder: "spotify", class: "form-control input-lg"  %>

    <h3><%= s.label :youtube, class: "control-label"  %></h3>
    <%= s.text_field :youtube, placeholder: "Youtube", class: "form-control input-lg"  %>

    <h3><%= s.label :artwork, class: "control-label"  %></h3>
    <%= s.file_field :artwork, class: "control-label btn-default input-lg" %>

    <h3><%= s.label :track, class: "control-label"  %></h3>
    <%= s.number_field :track, placeholder: "Album Track Number", class: "control-label btn-default input-lg"  %>

    <h3><%= s.label :release_date, class: "control-label"  %></h3>
    <%= s.date_field :release_date, placeholder: "Release Date", class: "control-label btn-default input-lg"  %>

    <h3><%= s.label :submit, class: "control-label" %></h3>
    <%= s.submit class: "control-label btn-default input-lg"  %>
 <% end %>
</div>
