<div class="wrapper-index">
<div class="page-header">
  <h1>Songs</h1>
</div>

<p><a href="/admin/songs/new" class="btn btn-default" >Add a New Song</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Artist</th>
      <th>Title</th>
      <th>Artwork</th>
      <th>Features</th>
      <th>Producer</th>
      <th>Album</th>
      <th>Release date</th>
      <th>Download link</th>
      <th>Embedded code</th>
      <th>Itunes</th>
      <th>Google</th>
      <th>Amazon</th>
      <th>Spotify</th>
      <th>Youtube</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.artist.name %></td>
        <td><%= song.title %></td>
        <td><%= song.artwork %></td>
        <td><%= song.features %></td>
        <td><%= song.producer %></td>
        <td><%= song.album %></td>
        <td><%= song.release_date %></td>
        <td>
          <% song.download_link %>
          <% if song.download_link.present? %>
              WORD
          <% else %>
              0
          <% end %>
        </td>
        <td>
          <% song.embedded_code %>
          <% if song.embedded_code.present? %>
              4SHO
          <% else %>
              0
          <% end %>
        </td>
        <td>
          <% song.itunes %>
          <% if song.itunes.present? %>
              DOPE
          <% else %>
              0
          <% end %>
        </td>
        <td>
          <% song.google %>
          <% if song.google.present? %>
              WORD
          <% else %>
              0
          <% end %>
          </td>
        <td>
          <% song.amazon %>
          <% if song.amazon.present? %>
              4SHO
          <% else %>
              0
          <% end %>
        </td>
        <td>
          <% song.spotify %>
          <% if song.spotify.present? %>
              DOPE
          <% else %>
              0
          <% end %>
        </td>
        <td>
          <a href="/admin/songs/<%= song.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/admin/songs/<%= song.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/admin/delete_song/<%= song.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate(@songs) %>
</div>
