<div class="wrapper" style="margin-left:100px">
  <h1>Songs</h1>
  <br/>
  <p><a href="/admin/songs/new" class="btn btn-default" >Add a New Song</a></p>
  <br/>
  <div class="col-xs-8" style="margin-left:15px; width:779px;">
      <%= form_tag admin_songs_path, method: "get" do %>
        <%= search_field_tag "search",
              params[:search],
              placeholder: "Search Song",
              class: "form-control input-lg" %>
      <% end %>
    </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>View</th>
        <th>Edit</th>
        <th>Trash</th>
        <th>Artist ID</th>
        <th>Artist Name</th>
        <th>Song ID</th>
        <th>Title</th>
        <th>Artwork</th>
        <th>Features</th>
        <th>Producer</th>
        <th>Album</th>
        <th>Track#</th>
        <th>Release date</th>
        <th>Download link</th>
        <th>Embedded code</th>
        <th>Itunes</th>
        <th>Google</th>
        <th>Amazon</th>
        <th>Spotify</th>
        <th>Youtube</th>
        <th>View</th>
        <th>Edit</th>
        <th>Trash</th>
      </tr>
    </thead>

    <tbody>
      <% @songs.each do |song| %>
        <tr>
          <td>
           <%= link_to 'Show', admin_song_path(song.id) %>
          </td>
          <td>
          <%= link_to 'Edit', edit_admin_song_path(song.id) %>
          </td>
          <td>
            <%= link_to 'Destroy', admin_song_path(song.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
          <td><%= song.artist_id %></td>
          <td><%= song.artist.name %></td>
          <td><%= song.id %></td>
          <td><%= song.title %></td>
          <td><%= image_tag song.artwork.url(:medium), :style => "width:75px;" %></td>
          <td><%= song.features %></td>
          <td><%= song.producer %></td>
          <td><%= song.album_title %></td>
          <td><%= song.track %></td>
          <td><%= song.release_date.to_formatted_s(:db) %></td>
          <td>
            <% song.download_link %>
            <% if song.download_link.present? %>
                YES
            <% else %>
                NO
            <% end %>
          </td>
          <td>
            <% song.embedded_code %>
            <% if song.embedded_code.present? %>
                YES
            <% else %>
                NO
            <% end %>
          </td>
          <td>
            <% song.itunes %>
            <% if song.itunes.present? %>
                YES
            <% else %>
                NO
            <% end %>
          </td>
          <td>
            <% song.google %>
            <% if song.google.present? %>
                YES
            <% else %>
                NO
            <% end %>
            </td>
          <td>
            <% song.amazon %>
            <% if song.amazon.present? %>
                YES
            <% else %>
                NO
            <% end %>
          </td>
          <td>
            <% song.spotify %>
            <% if song.spotify.present? %>
               YES
            <% else %>
                NO
            <% end %>
          </td>
          <td>
            <% song.youtube %>
            <% if song.youtube.present? %>
              YES
            <% else %>
                NO
            <% end %>
          </td>
           <td>
           <%= link_to 'Show', admin_song_path(song.id) %>
          </td>
          <td>
          <%= link_to 'Edit', edit_admin_song_path(song.id) %>
          </td>
          <td>
            <%= link_to 'Destroy', admin_song_path(song.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate(@songs) %>
</div>

