<div class="wrapper-index">

  <div class="page-header">
    <h1>Song #<%= @song.id %></h1>
  </div>

  <dl class="dl-horizontal">
    <dt>Artist</dt>
    <dd><%= @song.artist %></dd>

    <dt>Title</dt>
    <dd><%= @song.title %></dd>

    <dt>Artwork</dt>
    <dd><%= @song.artwork %></dd>

    <dt>Features</dt>
    <dd><%= @song.features %></dd>

    <dt>Producer</dt>
    <dd><%= @song.producer %></dd>

    <dt>Album</dt>
    <dd><%= @song.album %></dd>

    <dt>Release date</dt>
    <dd><%= @song.release_date %></dd>

    <dt>Download link</dt>
    <dd><%= @song.download_link %></dd>

    <dt>Embedded code</dt>
    <dd><%= @song.embedded_code %></dd>

    <dt>Itunes</dt>
    <dd><%= @song.itunes %></dd>

    <dt>Google</dt>
    <dd><%= @song.google %></dd>

    <dt>Amazon</dt>
    <dd><%= @song.amazon %></dd>

    <dt>Spotify</dt>
    <dd><%= @song.spotify %></dd>

  </dl>

</div>
