<div class="container">

  <div class="page-header">
    <h1>Song #<%= @song.id %> "<%= @song.title %>"</h1>
  </div>

  <dl class="dl-horizontal">
      <dt style="font-size:25px;">Artwork</dt>
     <dd><%= image_tag "#{@song.artwork.url}", :class => "img-responsive" %></dd>

    <br>
    <br>

    <dt style="font-size:20px;">Artist</dt>
    <dd style="font-size:20px;"><%= @song.artist.name %></dd>

    <dt style="font-size:20px;">Title</dt>
    <dd style="font-size:20px;"><%= @song.title %></dd>

    <% if @song.features.present? %>
        <dt style="font-size:20px;">Features</dt>
        <dd style="font-size:20px;"><%= @song.features %></dd>
    <% end %>

    <% if @song.producer.present? %>
        <dt style="font-size:20px;">Producer</dt>
        <dd style="font-size:20px;"><%= @song.producer %></dd>
    <% end %>

    <% if @song.album_title.present? %>
        <dt style="font-size:20px;">Album</dt>
        <dd style="font-size:20px;"><%= @song.album_title %></dd>
    <% end %>

    <% if @song.track.present? %>
        <dt style="font-size:20px;">Album</dt>
        <dd style="font-size:20px;"><%= @song.track %></dd>
    <% end %>

    <% if @song.release_date.present? %>
        <dt style="font-size:20px;">Release date</dt>
        <dd style="font-size:20px;"><%= @song.release_date.to_formatted_s(:db) %></dd>
    <% end %>

    <% if @song.download_link.present? %>
        <dt style="font-size:20px;">Download link</dt>
        <dd style="font-size:20px;"><%= @song.download_link %></dd>
    <% end %>

    <% if @song.embedded_code.present? %>
        <dt style="font-size:20px;">Embedded code</dt>
        <dd style="font-size:20px;"><%= @song.embedded_code.html_safe %></dd>
    <% end %>

    <% if @song.itunes.present? %>
        <dt style="font-size:20px;">Itunes</dt>
        <dd style="font-size:20px;"><%= @song.itunes %></dd>
    <% end %>

    <% if @song.google.present? %>
        <dt style="font-size:20px;">Google</dt>
        <dd style="font-size:20px;"><%= @song.google %></dd>
    <% end %>

    <% if @song.amazon.present? %>
        <dt style="font-size:20px;">Amazon</dt>
        <dd style="font-size:20px;"><%= @song.amazon %></dd>
    <% end %>

    <% if @song.spotify.present? %>
        <dt style="font-size:20px;">Spotify</dt>
        <dd style="font-size:20px;"><%= @song.spotify %></dd>
    <% end %>

    <% if @song.youtube.present? %>
        <dt style="font-size:20px;">Youtube</dt>
        <dd style="font-size:20px;"><%= @song.youtube.html_safe %></dd>
    <% end %>
    <br/>

   <dd style="font-size:25px;"><%= link_to "Send Announcement", announcement_admin_song_path(@song), :method => :post %></dd>

  </dl>
</div>
