<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p style="font-size:20px;"><%= link_to "Login to NTouchMusic", "http://www.ntouchmusic.herokuapp.com" %></p>
    <br/>
    <h2><%= @user.username %>, New Music by <%= @song.artist.name %> "<%= @song.title %>"</h2>
    <br/>
    <%= image_tag @song.artwork.url(:medium), style: "width: 500px;" %>
    <br/>
    <table>
      <% if @song.features.present? %>
        <td style="width:150px; padding:5px; font-size:20px;">Features: <%= @song.features %></td>
      <% end %>
      <% if @song.album_title.present? %>
        <td style="width:150px; padding:5px; font-size:20px;">Album: <%= @song.album_title %></td>
      <% end %>
      <% if @song.producer.present? %>
       <td style="width:150px; padding:5px; font-size:20px;">Producer: <%= @song.producer %></td>
      <% end %>
      </table>
      <table>
        <% if @song.itunes.present? %>
        <tr style="width:300px; padding:5px; font-size:20px;">Preview @ one of these fine retailers</tr>
        <td style="width:85px; padding:5px;">
          <a href="<%= @song.itunes %>" target="_blank" style="font-size:20px;">iTunes</a>
        </td>
        <% end %>
        <% if @song.google.present? %>
          <td style="width:85px; padding:5px;">
            <a href="<%= @song.google %>" target="_blank" style="font-size:20px;">Google Play</a>
          </td>
        <% end %>
        <% if @song.amazon.present? %>
          <td style="width:85px; padding:5px;">
            <a href="<%= @song.amazon %>" target="_blank" style="font-size:20px;">Amazon</a>
          </td>
        <% end %>
        <% if @song.spotify.present? %>
          <td style="width:85px; padding:5px;">
            <a href="<%= @song.spotify %>" target="_blank" style="font-size:20px;">Spotify</a>
          </td>
        <% end %>
      </table>
      <% if @song.download_link.present? %>
      </table>
        <tr>Preview @ one of these fine retailers</tr>
        <td style="width:200px; padding:5px;">
          <a href="<%= @song.download_link %>" target="_blank" style="font-size:20px;">Stream or Download "<%= @song.title %>" for FREE</a>
        </td>
      </table>
      <% end %>
      <p style="font-size:20px;"><%= link_to "Login to NTouchMusic", "http://www.ntouchmusic.herokuapp.com" %></p>
      <p style="font-size:20px;">Much Love,<br/>Sincerly Steven aka Mulatto Patriot aka windy city @ 33.33rpm aka The Man behind NTouchMusic PEACE</p>
  </body>
</html>



