<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2 style="font-size:36px; margin-top:20px; margin-bottom:20px;"><%= @user.username %>, New Music by <%= @album.artist.name %> "<%= @album.name %>"</h2>
    <p style="font-size:20px;"><%= link_to "Your click over NTouchMusic.com is appricated, Thank You", "http://ntouchmusic.herokuapp.com" %></p>
    <%= image_tag @album.cover.url(:medium), style: "width: 500px;" %>
    <br/>
      <% if @album.itunes.present? %>
      <p style="width:450px; padding:5px; font-size:22px; margin-bottom:1px;">Preview @ one of these fine retailers</p>
      <table>
        <td style="width:100px; padding:10px;">
          <a href="<%= @album.itunes %>" target="_blank" style="font-size:23px;">iTunes</a>
        </td>
        <% end %>
        <% if @album.amazon.present? %>
          <td style="width:100px; padding:10px;">
            <a href="<%= @album.amazon %>" target="_blank" style="font-size:23px;">Amazon</a>
          </td>
        <% end %>
        <% if @album.google.present? %>
          <td style="width:100px; padding:10px;">
            <a href="<%= @album.google %>" target="_blank" style="font-size:23px;">Google Play</a>
          </td>
        <% end %>
        <% if @album.spotify.present? %>
          <td style="width:100px; padding:10px;">
            <a href="<%= @album.spotify %>" target="_blank" style="font-size:23px;">Spotify</a>
          </td>
        <% end %>
      </table>
      <% if @album.download_link.present? %>
      </table>
        <p style="width:450px; padding:10px;">
          <a href="<%= @album.download_link %>" target="_blank" style="font-size:23px;">Preview "<%= @album.title %>" Now</a><br/>^^^^Stream/Download Link^^^^
        </p>
      <% end %>
      <p style="font-size:24px;">Much Love,<br/>Sincerely Steven aka Mulatto Patriot<br/>aka windy city @ 33.33rpm<br/>aka The Man behind NTouchMusic<br/>PEACE</p>
      <p style="font-size:24px;"><%= link_to "Grab a drink then click the link - NTouchMusic.com", "http://ntouchmusic.herokuapp.com" %></p>
  </body>
</html>
