<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table style="width:80%;">
      <h2><%= @user.username %>, <%= @song.artist.name %> recently released <%= @song.title %></h2>
      <br/>

      <%= image_tag @song.artwork.url(:medium), style: "width: 500px;" %>

      <% if @song.features.present? %>
        Features: <%= @song.features %>
      <% end %>
      <% if @song.album_title.present? %>
        Album: <%= @song.album_title %>
      <% end %>
      <% if @song.producer.present? %>
        Producer: <%= @song.producer %>
      <% end %>
      <% if @song.producer.present? %>
        Release Date: <%= @song.release_ date %>
      <% end %>

      <ul class="song-additional-link">
        <% if @song.download_link.present? %>
        <td>
          <a href="<%= @song.download_link %>" target="_blank" class="btn btn-primary">Stream/Download</a>
        </td>
        <% end %>

        <% if @song.itunes.present? %>
          <td>
              <a href="<%= @song.itunes %>" target="_blank" class="btn btn-primary">iTunes</a>
            </td>
          <% end %>

          <% if @song.google.present? %>
            <td>
              <a href="<%= @song.google %>" target="_blank" class="btn btn-primary">Google Play</a>
            </td>
          <% end %>

          <% if @song.amazon.present? %>
            <td>
              <a href="<%= @song.amazon %>" target="_blank" class="btn btn-primary">Amazon</a>
            </td>
          <% end %>

          <% if @song.spotify.present? %>
            <td>
              <a href="<%= @song.spotify %>" target="_blank" class="btn btn-primary">Spotify</a>
            </td>
          <% end %>
        </ul>

        <p>
          To login click ---> <%= link_to "NTouchMusic", "http://www.ntouchmusic.com" %>
        </p>
        <p>Much Love</p>
        <p>Mulatto Patriot</p>
        <p>NTouchMusic.com</p>
      </table>
  </body>
</html>



