<div class="container">
    <h1>Edit Artist #<%= @artist.id %> <%= (@artist.name) %> <%= link_to 'SHOW', admin_artist_path(@artist.id), :class => "btn btn-lg" %></h1>
    <aside class="item-artist"><%= image_tag @artist.avatar.url(:medium) %></aside>
    <aside class="item-artist"><%= image_tag @artist.pic.url(:medium) %></aside>



  <%= form_for(@artist, url: admin_artist_path) do |a| %>

    <h3><%= a.label :name, class: "control-label"  %></h3>
    <%= a.text_field :name, placeholder: "Name", class: "form-control input-lg"  %>

    <h3><%= a.label :record_label, class: "control-label"  %></h3>
    <%= a.text_field :record_label, placeholder: "record_label", class: "form-control input-lg"  %>

    <h3><%= a.label :soundcloud_username, class: "control-label" %></h3>
    <%= a.text_field :soundcloud_username, placeholder: "Soundcloud", class: "control-label btn-default input-lg" %>

    <h3><%= a.label :avatar, class: "control-label" %></h3>
    <%= a.file_field :avatar, class: "control-label btn-default input-lg" %>

    <h3><%= a.label :pic, class: "control-label" %></h3>
    <%= a.file_field :pic, class: "control-label btn-default input-lg" %>

    <h3><%= a.label :submit, class: "control-label" %></h3>
    <%= a.submit class: "control-label btn-default input-lg"  %>
 <% end %>
</div>

