<div class="container">
  <div class="page-header">
    <h1>Edit Artist #<%= @artist.id %></h1>
  </div>

  <%= form_for(@artist, url: admin_artist_path) do |a| %>

    <%= a.label :name, class: "control-label"  %>
    <%= a.text_field :name, placeholder: "Name", class: "form-control input-lg"  %>

    <%= a.label :record_label, class: "control-label"  %>
    <%= a.text_field :record_label, placeholder: "record_label", class: "form-control input-lg"  %>

    <%= a.label :avatar, class: "control-label" %>
    <%= a.file_field :avatar %>

    <br/>

    <%= a.submit class: "btn btn-default"  %>
 <% end %>
</div>
