<div class="wrapper-index">
  <div class="page-header">
    <h1>Artists</h1>
  </div>

  <p>
    <a href="/admin/artists/new" class="btn btn-default">Add a New Artist</a>
  </p>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Picture</th>
        <th>Record label</th>

      </tr>
    </thead>

    <tbody>
      <% @artists.each do |artist| %>
        <tr>
          <td><%= artist.name %></td>
          <td><%= artist.picture %></td>
          <td><%= artist.record_label %></td>
          <td>
            <a href="/admin/artists/<%= artist.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
          </td>
          <td>
            <a href="/admin/artists/<%= artist.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
          </td>
          <td>
            <a href="/admin/delete_artist/<%= artist.id %>" class="btn btn-danger">
              <i class="fa fa-trash-o"></i>
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate(@artists) %>
</div>
