<div class="container">

  <h1>Artists</h1>
  <br/>

  <p><a href="/admin/artists/new" class="btn btn-default">Add a New Artist</a>
  </p>
  <br/>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Avatar</th>
        <th>Pic</th>
        <th>Record label</th>
        <th>Soundcloud</th>
        <th>View</th>
        <th>Edit</th>
        <th>Trash</th>
      </tr>
    </thead>

    <tbody>
      <% @artists.each do |artist| %>
        <tr>
          <td><%= artist.name %></td>
          <td><%= image_tag artist.avatar.url(:medium), :style => "width:75px;" %></td>
          <td><%= image_tag artist.pic.url(:medium), :style => "width:75px;" %></td>
          <td><%= artist.record_label %></td>
          <td><%= artist.soundcloud %></td>

          <td>
          <%= link_to 'Show', admin_artist_path(artist.id) %>
          </td>
          <td>
          <%= link_to 'Edit', edit_admin_artist_path(artist.id) %>
        </td>
        <td>
          <%= link_to 'Destroy', admin_artist_path(artist.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate(@artists) %>
</div>
