<div class="container">

  <div class="page-header">
    <h1>Artist #<%= @artist.id %> <%= (@artist.name) %></h1>
  </div>

  <p style="font-size:40px;">Record label: <%= @artist.record_label %></p>

  <div>
    <div style="float:left;"><%= image_tag @artist.avatar.url(:medium) %></div>
    <div style="float:right;"><%= image_tag @artist.pic.url(:medium) %></div>
  </div>
</div>


