  <div class="container">

  <div class="page-header">
    <h1>Artist #<%= @artist.id %> <%= (@artist.name) %> <%= link_to 'EDIT', edit_admin_artist_path(@artist.id), :class => "btn btn-lg" %></h1>
  </div>

  <p style="font-size:40px;">Record label: <%= @artist.record_label %></p>

<p style="font-size:36px;">Soundcloud: <%= @artist.soundcloud_username %></p>

  <div>
    <aside style="float:left;"><%= image_tag @artist.avatar.url(:medium) %></aside>
    <aside style="float:right;"><%= image_tag @artist.pic.url(:medium) %></aside>
  </div>
</div>


