<div class="container">

  <div class="page-header">
    <h1>Artist #<%= @artist.id %> <%= (@artist.name) %></h1>
  </div>

  <dl class="dl-horizontal">
    <dt>Arist Name</dt>
    <dd><%= @artist.name %></dd>

    <dt>Record label</dt>
    <dd><%= @artist.record_label %></dd>

    <div id="owl-demo" class="owl-carousel">
      <div class="item-artist"><%= image_tag @artist.avatar.url(:medium) %></div>
      <div class="item-artist"><%= image_tag @artist.pic.url(:medium) %></div>
    </div>
    <dd>

    </dd>
    <br/>
    <dd>

    </dd>
  </dl>
</div>

<script>
$(document).ready(function() {

  $("#owl-demo").owlCarousel({
      items : 2,
  });
});

</script>
