<div class="container">

  <div class="page-header">
    <h1>Artist #<%= @artist.id %> <%= (@artist.name) %></h1>
  </div>

  <dl class="dl-horizontal">
    <dt>Arist Name</dt>
    <dd><%= @artist.name %></dd>

    <dt>Record label</dt>
    <dd><%= @artist.record_label %></dd>

    <br>
    <dd>
    <%= image_tag @artist.avatar.url(:medium) %>
    </dd>
  </dl>

</div>
