<div class="container">
  <div style="text-align:center">
    <hr style="border-color:black; width:875; margin-left:125px">
    <h2><strong>Choose your Favortie Artists</strong></h2>
    <hr style="border-color:black; width:875; margin-left:125px">
    <%= image_tag("screenshots/new_subscriptions.jpg", size: "900x500", style: "magin:100px") %>
    <hr style="border-color:black; width:875; margin-left:125px">
    <h2><strong>Your Favortie Artists</strong></h2>
    <hr style="border-color:black; width:875; margin-left:125px">
    <%= image_tag("screenshots/my_subscriptions.jpg", size: "900x500", style: "magin:100px") %>
    <hr style="border-color:black; width:875; margin-left:125px">
    <h2><strong>List of New Songs by all your favorite artists</strong></h2>
    <hr style="border-color:black; width:875; margin-left:125px">
    <%= image_tag("screenshots/feed.jpg", size: "900x500", style: "magin:100px") %>
    <hr style="border-color:black; width:875; margin-left:125px">
    <h2><strong>Song Display Page</strong></h2>
    <hr style="border-color:black; width:875; margin-left:125px">
    <%= image_tag("screenshots/song_show.jpg", size: "900x500", style: "magin:100px") %>
    <hr style="border-color:black; width:875; margin-left:125px">
    <h2><strong>All of your favorite artist's songs</strong></h2>
    <hr style="border-color:black; width:875; margin-left:125px">
    <%= image_tag("screenshots/artist_show.jpg", size: "900x500", style: "magin:100px") %>

  </div>

  <p style="text-align:center" >
    <a class="btn btn-success" style="padding-left:500px; padding-right:500px; margin-top:50px;" href="/users/sign_up">Sign-up!</a>
  </p>

</div>
