<div class="main-wrapper">
  <h1><%= @song.artist.name %><span>@song.artist.record_label</span></h1>

  <aside>
    <%= image_tag "artists/#{@song.artist.picture_url}" %>
    <ul class="add-top-margin">
      <li>
        <a href="<% @song.artist.website %>" target="_blank">
         <%= @song.artist.website %>
        </a>
      </li>
    </ul>
  </aside>

<ul class="feed">
    <% @songs.each do |song| %>
      <li>
        <a href="/songs/<%= song.id %>">
          <p class="artist">
            <%= song.artist.name %>
            <% if song.release_date.present? %>
              <span><%= time_ago_in_words(song.release_date) %></span>
            <% end %>
          </p>
          <p class="song"><%= song.title %> </p>
        </a>
      </li>
    <% end %>
  </ul>

</div>




