<div class="main-wrapper">
  <h1><%= Song.artist.name %><span>[Def Jam]</span></h1>

  <aside>
    <img src="assets/kanyewest_af.jpg" alt"kanyewest" width="100%"/>
    <ul class="add-top-margin">
      <li>
        <a href="http://www.kanyewest.com" target="_blank">
          kanyewest.com
        </a>
      </li>
    </ul>
  </aside>

	<ul class="feed artist-feed">
    <li class="new_select">
      <a href="show.html">
        <p class="artist">Kanye West<span>1 day ago</span></p>
        <p class="song">Yeezus</p>
      </a>
    </li>
<!--     <li class="new_select">
      <a href="show.html">
        <p class="artist">Kanye West<span>30 days ago</span></p>
        <p class="song">My Beautiful Dark Twisted Fantasy</p>
      </a>
    </li>
     <li class="new_select">
      <a href="show.html">
        <p class="artist">Kanye West<span>60 days ago</span></p>
        <p class="song">808s & Heartbreak</p>
      </a>
    </li>
     <li class="new_select">
      <a href="show.html">
        <p class="artist">Kanye West<span>90 days ago</span></p>
        <p class="song">Graduation</p>
      </a>
    </li>
     <li class="new_select">
      <a href="show.html">
        <p class="artist">Kanye West<span>120 days ago</span></p>
        <p class="song">Late Registration</p>
      </a>
    </li>
    <li class="new_select">
      <a href="show.html">
        <p class="artist">Kanye West<span>150 days ago</span></p>
        <p class="song">The College Dropout</p>
      </a>
    </li> -->
  </ul>
</div>

---------------------------------------------------------------

<div class="wrapper">

  <ul class="feed">
    <% @songs.each do |song| %>
      <li>
        <a href="/songs/<%= song.id %>">
          <p class="artist">
            <%= song.artist %>
            <% if song.release_date.present? %>
              <span><%= time_ago_in_words(song.release_date) %></span>
            <% end %>
          </p>
          <p class="song"><%= song.title %> </p>
        </a>
      </li>
    <% end %>
  </ul>
</div>

