<div class="container">
  <p class="button-bar">
  <%= current_user.username.capitalize %>'s list of New SONGs
  </p>
  <p class="button-main-feed">
  <%= link_to "Subscribe to New Artists", subscriptions_path %>
  </p>
  <div class="row">
    <% @songs.each do |song| %>
      <div class="col-xs-12 col-lg-3 isotope-item box-songs">
        <div class="panel panel-default">
          <div class="panel-body ">
            <%= image_tag "#{song.artwork.url(:medium)}", :class => "img-responsive" %>
            <dl>
              <dd class='button-click-listen'><a href="/songs/<%= song.id %>">Click Here to Listen</a></dd>
              <dd class="panel-button-small">
              <a href="/artists/<%= song.artist_id %>"><%= song.artist.name %></a></dd>
              <dd class="panel-button-small">
              <%= song.title %>
              </dd>
              <% if song.album_title.present? %>
              <dd class='panel-button-small'><a href="/albums/<%= song.album_id %>">Project: <%= song.album_title %></a></dd>
              <% end %>
              <% if song.features.present? %>
              <dd class="panel-button-small">
              Featuring: <%= song.features %></dd>
              <% end %>
              <% if song.producer.present? %>
              <dd class="panel-button-small">
              Producer: <%= song.producer %></dd>
              <% end %>
              <% if song.release_date.present? %>
              <dd class="panel-button-small">
              Released <%= time_ago_in_words(song.release_date) %> ago.</dd>
              <% end %>
            </dl>
          </div>
        </div>


      </div>
    <% end %>
  </div>
</div>

