<div class="container">
  <p class="button10b">
  <%= current_user.username.capitalize %>'s list of New SONGs
  </p>
  <p class="button10">
  <%= link_to "Subscribe to New Artists", subscriptions_path %>
  </p>
  <div class="row">
    <div class="col-xs-12">
    <% @songs.each do |song| %>
      <div class="col-xs-12 col-lg-3 isotope-item">
        <div class="panel panel-default">
          <div class="panel-body box-songs">
            <%= image_tag "#{song.artwork.url(:medium)}", :class => "img-responsive" %>
            <dl>
              <dd class='button13'><a href="/songs/<%= song.id %>">Click Here to Listen</a></dd>
              <dd class="button12">
              <a href="/artists/<%= song.artist_id %>"><%= song.artist.name %></a></dd>
              <dd class="button12">
              <%= song.title %>
              </dd>
              <% if song.album_title.present? %>
              <dd class='button12'><a href="/albums/<%= song.album_id %>">Project: <%= song.album_title %></a></dd>
              <% end %>
              <% if song.features.present? %>
              <dd class="button12">
              Featuring: <%= song.features %></dd>
              <% end %>
              <% if song.producer.present? %>
              <dd class="button12">
              Producer: <%= song.producer %></dd>
              <% end %>
              <% if song.release_date.present? %>
              <dd class="button12">
              Released <%= time_ago_in_words(song.release_date) %> ago.</dd>
              <% end %>
            </dl>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

