<div class="wrapper-feed">
  <h3 class="txtt-center">
    Here are the latest songs released by your favorite artists.
  </h3>

  <ul class="feedxxx">
    <% @songs.each do |song| %>
      <li>
        <a href="/songs/<%= song.id %>">
          <p class="artist-feed">
            <%= song.artist.name %>
            <% if song.release_date.present? %>
              <span><%= time_ago_in_words(song.release_date) %></span>
            <% end %>
          </p>
          <table>
            <td style="padding-right:25px">
              <%= song.title %>
            <td style="padding-right:25px">
              <% if song.features.present? %>
                Feat.
              <%= song.features %>
            </td>
            </td>
            <td style="padding-right:25px">
                <% if song.album.present? %>
                Album: <%= song.album %>
              <% end %>
              <% end %>
            </td>
          </table>
        </a>
      </li>
    <% end %>
  </ul>
</div>

