<div class="container">
    <div class="wrapper">
        <div style="float:left">
          <div class="song-page-title">
            <h2><%= @song.title %>
            </h2>
            <h4>
                by
            <a href="/artists/<%= @song.artist.id %>">
            <strong><%= @song.artist.name %></strong>
            </a>
          </div>

          <% if @song.release_date.present? %>
            (<%= time_ago_in_words(@song.release_date) %>)
            </br>
            </br>
          <% end %>

          <% if @song.producer.present? %>
            Producer: <%= @song.producer %>
            </br>
            </br>
          <% end %>

          <% if @song.features.present? %>
            Features: <%= @song.features %>
            </br>
            </br>
          <% end %>

          <% if @song.album.present? %>
            Album: <%= @song.album %>
          <% end %>
            </h4>
        </div>

        <div style="float:right">
            <%= image_tag "#{@song.artwork_url}" %>

            <!-- The Name of the song so you can change the file name -->
            <%= @song.artwork_url %>
        </div>
    </div>



    <% if @song.embedded_code.present? %>
    <div class="song-player">
      <%= @song.embedded_code.html_safe %>
    <% else %>
    <br/>
    <% end %>
    </div>
</div>
    </br>


    <div class="container">
    <hr/>
        <ul class="song-additional-link">
            <% if @song.download_link.present? %>
              <td>
                <a href="<%= @song.download_link %>" target="_blank" class="btn btn-primary">Stream/Download</a>
              </td>
             <% end %>

            <% if @song.itunes.present? %>
              <td>
                <a href="<%= @song.itunes %>" target="_blank" class="btn btn-primary">iTunes</a>
              </td>
            <% end %>

            <% if @song.google.present? %>
              <td>
                <a href="<%= @song.google %>" target="_blank" class="btn btn-primary">Google Play</a>
              </td>
            <% end %>

            <% if @song.amazon.present? %>
              <td>
                <a href="<%= @song.amazon %>" target="_blank" class="btn btn-primary">Amazon</a>
              </td>
            <% end %>

            <% if @song.spotify.present? %>
              <td>
                <a href="<%= @song.spotify %>" target="_blank" class="btn btn-primary">Spotify</a>
              </td>
            <% end %>
          </ul>
            <hr/>

           <% if @song.youtube.present? %>
              <div class="video-player" style="float:right">
                <%= @song.youtube.html_safe %>
            <% end %>
              </div>
        </div>
</div>
