<div class="container">
  <div style="float:left">
    <%= image_tag "#{@song.artwork.url(:medium)}", :class => "img-responsive" %>
  </div>
  <div style="float:right">
    <a href="/artists/<%= @song.artist.id %>">
    <p class="button-main-feed"><%= @song.artist.name %></p>
    </a>

    <p class="button-bar"><%= @song.title %>
    <% if @song.features.present? %>
          (ft. <%= @song.features %>)

    </p>
      <% end %>
    <% if @song.producer.present? %>
    <p class="button-bar">Producer: <%= @song.producer %></p>
     <% end %>
    <% if @song.release_date.present? %>
    <p class="button-bar">Released <%= time_ago_in_words(@song.release_date)  %> ago. </p>
     <% end %>
    <% if @song.album_title.present? %>
    <p class="button-bar">Album: <%= @song.album_title %></p>
    <% end %>
    <div style="margin-top:15px;" class="song-additional-link">

      <% if @song.download_link.present? %>
        <td>
          <a href="<%= @song.download_link %>" target="_blank" class="button-main-feed">Stream/Download</a>
        </td>
       <% end %>

      <% if @song.itunes.present? %>
        <td>
          <a href="<%= @song.itunes %>" target="_blank" class="button-main-feed">iTunes</a>
        </td>
      <% end %>

      <% if @song.google.present? %>
        <td>
          <a href="<%= @song.google %>" target="_blank" class="button-main-feed">Google Play</a>
        </td>
      <% end %>

      <% if @song.amazon.present? %>
        <td>
          <a href="<%= @song.amazon %>" target="_blank" class="button-main-feed">Amazon</a>
        </td>
      <% end %>

      <% if @song.spotify.present? %>
        <td>
          <a href="<%= @song.spotify %>" target="_blank" class="button-main-feed">Spotify</a>
        </td>
      <% end %>
    </div>
  </div>
</div>

</br>
</br>

<div class="container">
  <% if @song.embedded_code.present? %>
  <div class="song-player">
    <%= @song.embedded_code.html_safe %>
  <% else %>
  <% end %>
  </div>
</div>
</br>
</br>
<div class="container">
 <% if @song.youtube.present? %>
    <div class="video-player">
      <%= @song.youtube.html_safe %>
  <% end %>
    </div>
  </div>
