<div class="container">
  <p class="button-bar">
  <%= current_user.username.capitalize %>'s list of New ALBUMs
  </p>
  <div class="row">
    <div class="col-xs-12">
    <% @albums.each do |album| %>
      <div class="col-xs-12 col-lg-3 isotope-item box-albums">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= image_tag "#{album.cover.url}", :class => "img-responsive" %>
            <dl>
              <dd class='button13'><a href="/albums/<%= album.id %>">Click Here to Listen</a></dd>
              <dd class="button12">
              <a href="/artists/<%= album.artist_id %>"><%= album.artist.name %></a></dd>

              <dd class="button12">
              <%= album.name %>
              </dd>
             <% if album.release_date.present? %>
              <dd class="button12">Released <%= time_ago_in_words(album.release_date)  %> ago.</dd>
              <% end %>
          </dl>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
    <p class="button-bar"><%= link_to "Click here to Follow more Artists", subscriptions_path %></p>
</div>

