  <style type="text/css">
    body {
    background-image: url("https://s3-us-west-2.amazonaws.com/ntouchimages/admin/ang_chicago.JPG");
    background-repeat: no-repeat;
    width: 100%;
    }
  </style>

<div class="container">
  <p class="button-bar navv-font">
  <%= current_user.username.capitalize %>'s list of Chicago Music
  </p>
  <div class="row">
    <div class="col-xs-12">
    <% @albums.each do |album| %>
      <div class="col-xs-12 col-lg-3 isotope-item box-albums">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= image_tag "#{album.cover.url}", :class => "img-responsive" %>
            <dl>
              <dd class='button-click-listen navv-font'><a href="/albums/<%= album.id %>">Click Here to Listen</a></dd>

              <dd class="btn-md panel-button-small">
              <a href="/artists/<%= album.artist_id %>"><%= album.artist.name %></a></dd>

              <dd class="btn-md panel-button-small">
              <%= album.name %>
              </dd>

          </dl>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
    <p class="button-bar navv-font"><%= link_to "Click here to Follow more Artists", subscriptions_path %></p>
</div>

