<div class="container">
  <p class="button-bar navv-font">
  <%= current_user.username.capitalize %>'s list of Chicago Music
  </p>
  <div class="row">
    <div class="col-xs-12">
    <% @albums.each do |album| %>
      <div class="col-xs-12 col-lg-3 isotope-item box-albums">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= link_to album_path(album.id) do %>
            <%= image_tag "#{album.cover.url}", :class => "img-responsive" %>
            <% end %>

            <dl>

              <dd class="btn-md panel-button-small">
              <a href="/artists/<%= album.artist_id %>"><%= album.artist.name %></a></dd>

              <dd class="btn-md panel-button-small">
              <%= album.name %>
              </dd>
            </dl>
          </div>

        </div>
      </div>
      <% end %>
    </div>
  </div>
    <p class="button-bar navv-font"><%= link_to "Click here to Follow more Artists", subscriptions_path %></p>
</div>

