<div class="wrapper-feed">

  <h2 class="button button:active button:hover">
  <%= link_to "Subscribe to New Artists", subscriptions_path %>
  </h2>

  <h3 class="txtt-center">
    <%= current_user.email %>'s Album FEED
  </h3>

  <ul class="feedxxx">
    <% @albums.each do |album| %>
      <li>
        <a href="/albums/<%= album.id %>">
          <p class="artist-feed">
            <%= album.artist.name %>
            <% if album.release_date.present? %>
              <span><%= time_ago_in_words(album.release_date) %></span>
            <% end %>
          </p>
        </a>
      </li>
    <% end %>
  </ul>
</div>

