<% @available_artists.each do |artist| %>
<div class="col-xs-12 col-lg-3 isotope-item box-subs">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= image_tag artist.avatar.url(:medium) %>
      <dl>
        <dd class="panel-button-big">
          <%= artist.name %>
        </dd>
        <dd>
          <%= form_for Subscription.new :user => current_user, :artist => artist do |f| %>
          <%= f.hidden_field :artist_id %>
          <%= f.submit :class => "btn btn-success", :style => "width:100%;" %>
          <% end %>
        </dd>
      </dl>
    </div>
  </div>
</div>

<% end %>
