  <% @available_artists.each do |artist| %>
<div class="col-xs-12 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-body box-subs">
      <%= image_tag artist.avatar.url(:medium) %>
        <dl>

          <br>

          <dd class="button12b"><%= artist.name %><br/><span style="font-size:8px"><%= link_to "(Click here for more info)", artist_path(artist.id) %></span></dd>

      <%= form_for Subscription.new :user => current_user, :artist => artist do |f| %>
            <%= f.hidden_field :artist_id %>

            <%= f.submit :class => "btn btn-success", :style => "width:100%;" %>

          <% end %>

        </dl>
      </div>
    </div>
  </div>

<% end %>
