<div class="container">
  <h2 class="page-header" style="margin-bottom:0; font-size:5em;">Sign In</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>

    <div class="error-msg-btn">
    <%= devise_error_messages! %>
    </div>

  <div class="form-group user-proile-button">
    <%= f.label :email, "Email", :class => "col-sm-offset-1 col-sm-2 control-label label-name-field" %>
    <div class="col-sm-5">
    <%= f.email_field :email, autofocus: true, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group user-proile-button">
    <%= f.label :password, "Password", :class => "col-sm-offset-1 col-sm-2 control-label label-name-field" %>
    <div class="col-sm-5">
    <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group user-proile-button">
      <%= f.label :remember_me, :class => "col-sm-offset-1 col-sm-2 control-label label-name-field-checkbox"  %>
      <div class="col-sm-5">
      <%= f.check_box :remember_me, :class => "paddingClass" %>
      </div>
    </div>
  <% end -%>

  <div class="form-group">
    <div>
    <%= f.submit "Log in", :class => "btn btn-lg btn-success btn-block label-name-field"  %>
    </div>
  </div>
<% end %>


<p class="user-proile-button-below"> Want an account?&nbsp;<%= render "devise/shared/links" %> </p>
</div>


