<div class="wrapper" style="margin-left:100px; margin-right:100px;">

  <h1>Users</h1>
  <br/>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>email</th>
        <th>Delete</th>
        <th>Avatar</th>
        <th>s.#</th>
        <th>age</th>
        <th>zip_code</th>
        <th>current_sign_in_date</th>
        <th>last_sign_in_at_date</th>
        <th>created_at_first_sign</th>
        <th>updated_edit_profile</th>
        <th>admin</th>
        <th>sub</th>
        <th>subs....subss</th>
        <th>subs....subss</th>
        <th>subs....subss</th>
        <th>subs....subss</th>
        <th>subs....subss</th>
        <th>subs....subss</th>
        <th>subs....subss</th>
        <th>subs....subss</th>
        <th>subs....subss</th>
        <th>subs....subss</th>
        <th>subs....subss</th>
        <th>subs....subss</th>
        <th>subs....subss</th>
        <th>subs....subss</th>
        <th>subs....subss</th>
        <th>subs....subss</th>
        <th>subs....subss</th>
        <th>subs....subss</th>
        <th>subs....subss</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= image_tag user.avatar.url(:medium), :style => "width:75px;" %></td>
          <td>
            <%= link_to 'Destroy', user_registration_path(user.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>




          <td><%= user.sign_in_count %></td>
          <td><%= user.age %></td>
          <td><%= user.zip_code %></td>
          <td><%= user.current_sign_in_at %></td>
          <td><%= user.last_sign_in_at %></td>
          <td><%= user.created_at %></td>
          <td><%= user.updated_at %></td>
          <td><%= user.admin %></td>
          <td><%= user.subscriptions.count %></td>
          <% user.subscriptions.each do |subscription| %>
            <td><%= subscription.artist.name %></td>

          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate(@users) %>
</div>
